<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darc.downbit.dao.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.darc.downbit.dao.entity.UserRole">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,role_id
    </sql>

    <insert id="insertByUsernameAndRole">
        INSERT INTO user_role (user_id, role_id)
            value (
                       (select user_id from user where user.username = #{username}),
                       #{roleId}
            )
    </insert>

</mapper>
