<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.darc.downbit.dao.mapper.VideoTagMapper">

    <resultMap id="BaseResultMap" type="com.darc.downbit.dao.entity.VideoTag">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="videoId" column="video_id" jdbcType="INTEGER"/>
        <result property="tagId" column="tag_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,tag_id
    </sql>
</mapper>
